MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/studio_db
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
CLIENT_URL=http://localhost:5173
PORT=5000
